@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
header {
  background-image: url(../assets/img/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: "Josefin Sans", sans-serif;
}
header nav {
  padding-top: 45em;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  cursor: pointer;
}
header nav ul a {
  text-decoration: none;
}
header nav ul li {
  text-decoration: none;
  list-style: none;
  font-size: 2em;
  color: white;
}

main {
  background-color: #130419;
  color: white;
  font-family: "Josefin Sans", sans-serif;
}
main h1 {
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}
main p {
  font-size: 1.5em;
  text-align: center;
}
main h2 {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .equipo {
  text-decoration: underline;
}
main .trabajos section h2 {
  font-size: 2.5em;
  text-decoration: underline;
}
main .trabajos section h3 {
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
main .trabajos section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .trabajos section article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .trabajos section article li {
  font-size: 2em;
  margin-top: 1em;
  list-style: square;
  text-align: center;
}
main .trabajos section article img {
  width: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .trabajo2 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .trabajo2 article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
main .trabajo2 article li {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: square;
  text-align: center;
}
main .trabajo2 article img {
  width: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.trabajo3 article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.trabajo3 article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.trabajo3 article li {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: square;
  text-align: center;
}
.trabajo3 article img {
  width: 30em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer {
  font-size: 2em;
  text-align: center;
  background-color: #571373;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}