@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import './variables';
@import './_header.scss';
@import './_main.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}